# Виртуальное окружение uv и стандартный venv
.venv/
venv/
ENV/

# Кэш компиляции Python
__pycache__/
*.py[cod]
*$py.class

# Кэш инструментов (Ruff, mypy, pytest)
.ruff_cache/
.mypy_cache/
.pytest_cache/

# Файлы настроек ОС и редакторов
.vscode/

# Файлы бэкапов
*.bak